
.profile > .row {
  min-height: calc(100vh - 98px);
}

.profile .col-sm-3 {
  background: #3297eb;
}

.profile-sidebar {
  padding: 20px 0 10px 0;
  background: #3297eb;
}

.profile-username {
  background-color: #1c4bce;
  color: #ffffff;
  font-weight: 300;
  padding: 20px 40px;
  margin: 25px 0px 0px 0px;
  border: 2px solid #ffffff;
}

.profile-spec {
  color: #ffffff;
  font-weight: 200;
  padding: 10px 40px;
  margin: 0;
}

.change-pass {
  margin-top: 20px;
}

.change-pass a{
  color: #ffffff;
}

.change-pass a:hover{
  color: #1c4bce;
}

.profile-content {
  background: #ffffff;
  width: 70%;
  margin: auto;
  padding-top: 10px;
}

.profile-content h2 {
  font-weight: 200;
  text-align: center;
  padding: 20px 0px;
}

.profile-content table {
  margin: 0;
}

.profile-content td {
  text-align:right;
}

@media screen and (max-width: 500px) {
  .profile-content {
    width: 100%;
    font-weight: 300;
    letter-spacing: -1px;
  }
}
@media screen and (max-width: 400px) {
  .profile-content {
    width: 100%;
    font-weight: 200;
    letter-spacing: -1.5px;
  }
}